extends layout

block content
    div.col-xs-6
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi expedita autem debitis quaerat totam molestias, accusamus. Rerum maiores minima soluta, sit nihil impedit, molestias sed. Odit doloremque accusamus eum, debitis!