extends layout

block content
    article.row
      div.col-xs-12
          div.col-xs-6
              img.img-responsive(src="img/healthFood.jpg")
          div.col-xs-6
              h1 Влияние на преработените храни върху имунната система
              h3 Модерната диета може да бъде опасна
              p Целта на материала е да се замислим повече върху храната, която купуваме, защото често нежеланите последици се проявяват с натрупване в годините и чрез поколенията.Целта е да провокираме тези от вас, които нямат навик да четат етикетите, да преосмислят действията си. Заслужава си да четете дребните шрифтове, защото това е инвестиция в здравето.
    article.row
        div.col-xs-12
            div.col-xs-6
                img.img-responsive(src="img/healthFood.jpg")
            div.col-xs-6
                h1 Влияние на преработените храни върху имунната система
                h3 Модерната диета може да бъде опасна
                p Целта на материала е да се замислим повече върху храната, която купуваме, защото често нежеланите последици се проявяват с натрупване в годините и чрез поколенията.Целта е да провокираме тези от вас, които нямат навик да четат етикетите, да преосмислят действията си. Заслужава си да четете дребните шрифтове, защото това е инвестиция в здравето.
    article.row
        div.col-xs-12
            div.col-xs-6
                img.img-responsive(src="img/healthFood.jpg")
            div.col-xs-6
                h1 Влияние на преработените храни върху имунната система
                h3 Модерната диета може да бъде опасна
                p Целта на материала е да се замислим повече върху храната, която купуваме, защото често нежеланите последици се проявяват с натрупване в годините и чрез поколенията.Целта е да провокираме тези от вас, които нямат навик да четат етикетите, да преосмислят действията си. Заслужава си да четете дребните шрифтове, защото това е инвестиция в здравето.
