extends layout

block content
    div.table-responsive
        table.table.table-hover#cartItems
            thead
                tr
                    th.name Артикул
                    th.price Цена
                    th.menu
            tfoot
                tr
                    td Избери маса:
                        form
                            input.seat(type="number" id="income" name="income" value="10")

                    td 36.00лв.
                    td
                        button.btn.btn-success.send Поръчай
            tbody
            //- empty container which is going to be filled by displayCart() in app.js

block scripts
    script.
        $(document).ready(function(){
            //init stuff
            console.log("initing cart");
            OrderApp.displayCart();
            $("#cartItems").on("click", ".action-delete", function(){
                var id = $(this).data("id");
                OrderApp.removeItemFromCart(id);
                OrderApp.displayCart();
            })

            $("#cartItems").on("click", ".send", function(){
                var seat = $(".seat").val();
                console.log(seat);
                OrderApp.sendOrder(seat);
            })
        });
