html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    title GYM
    link(href="lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(rel="stylesheet", type="text/css", href="custom.css")
body.container-fluid
    header.row
        nav.navbar.navbar-default(role="navigation")
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div#logo
                    a.navbar-brand(href="index") Hack Bulgaria Cafe
                        img.navbar-brand#imageHeader(src="img/HackMan.png", alt="...")
                div#redButtonContainer
                    a(href="#") Извикай сервитьор
                        span
            div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav
                    li
                        a(href="index") Home
                    li
                        a(href="cart") My order
                    li
                        a(href="about") About us

    div.row#rowContainer
        div.col-xs-3.text-center
            nav.sidebar-nav.navbar.navbar-default(role="navigation")
                ul.nav.nav-pills.nav-stacked
                    li
                        a(href="appetizers") Appetizers
                    li
                        a(href="appetizers") Soups
                    li
                        a(href="appetizers") Salads
                    li
                        a(href="appetizers") Specials
                    li
                        a(href="appetizers") Entrees
                    li
                        a(href="appetizers") Desserts
                    li
                        a(href="appetizers") Drinks
        div.col-xs-9.content
            block content
    //- dependencies
    script(src="lib/jquery/dist/jquery.js")
    script(src="lib/q/q.js")
    script(src="lib/jade/jade.js")
    script(src="lib/bootstrap/js/carousel.js")
    script(src="lib/bootstrap/dist/js/bootstrap.js")
    //- tools
    script(src="js/tools/resource.js")
    script(src="js/tools/helpers.js")
    //-app
    script(src="js/app.js")

    block scripts
